.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    gap: 100px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-left h2{
    font-size: 40px;
    font-weight: 20px;
    color: white;
}
.hero-right{
    padding: 20px;
    text-align: center;
    float: right;
    margin-left: 30px; }

.desc{
    /* "We are here to energize you, as we believe in the power of a great cup of coffee to fuel your day and boost your productivity. Our cozy and inviting space is designed for coffee lovers, busy professionals, and anyone looking for a comfortable spot to relax or work. */

width: 540px;
top: 250px;
color: white;
}

.newItems{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    color: rgb(1, 71, 1);
    background: white;
    font-size: 12px;
    padding: 10px;
    font-weight: 100px;
    margin-top: 30px;
    font-family: 'Segoe UI', Verdana, sans-serif;
}