.item{
    width: 250px;
}
.item img{
    margin-left: 23px ;
    width: 200px;
    height: 200px;
    border-radius: 20%;
}
.item p{
    margin: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    color: azure;

}
.item-prices{
display: flex;
gap: 20px;

}

.item-price-old{
    color: rgb(0, 72, 0);
    font-size: 18px;
    font-weight: 500;
    margin: 0px 30px;
    text-decoration: line-through;
    color: azure;

}

.item-price-new{
    color: rgb(0, 16, 72);
    font-size: 25px;
    font-weight: 600;
    color: azure;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6sec;
}