
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

.NavContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(0deg, rgba(94, 113, 83, 0.72), rgba(94, 113, 83, 0.72)), url('C:\Users\Zayna\OneDrive\Desktop\Fuel\fuel_coffeeshop\src\assets\background.jpg');
  background-attachment: fixed; /* This makes the background image fixed */
  background-attachment: fixed; /* This makes the background image fixed */
  background-size: cover; /* This makes the image cover the whole background */
    background-position: center; /* This centers the image */
    background-repeat: no-repeat;
    /* photo_6048732967469171382_y 1 */
  }


.NavItem{
  list-style-type: none; /* Removes bullet points */
  font-family: 'tajawal', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  }
  
li {
  display: inline; /* Displays list items inline */
  padding-left: 40px;
  cursor: pointer;
  align-items: center;
} 
button{
  font-family: 'Tajawal';
font-style: normal;
font-weight: 650;
font-size: 22px;
text-transform: uppercase;
  background: none; /* Removes the default background */
  border: none; /* Removes the border */
  margin-left: 25px; 
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  color: #FFFFFF;
} 
.cart{
  display: flex;
  align-items: center;
}
.cart_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 .nav-cart-count{
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: -35px;
  margin-left: -30px;
  border-radius: 11px;
  font-size: 10px;
  background: white;
  color: rgb(2, 58, 2);
} 
