.productdisplay-main-img{
    height: 520px;
    width: 550px;
    border-radius: 30px;
}

.productdisplay{
    display: flex;
    margin:0px 170px;
}
.productdisplay-left{
display: flex;
gap:17px;
}
.productdisplay-img-list{
    display:flex;
    flex-direction: column;
    gap:16px;
    border-radius: 30px;

}
.productdisplay-img-list img{
    height: 163px;
    border-radius: 30px;

}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap:5px;
    color:white;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap:30px;
}

.productdisplay-right-prices-old{
    color:white;
    text-decoration: line-through;
    font-size: 20px;

}
.productdisplay-right-prices-new{
    color: #e6a66a;
    font-weight: 700;
    font-size: 24px;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 30px;

}
.productdisplay-right-size{
    display: flex;
    margin: 40px 20px;
    gap:20px;
    
}
.size{
 padding: 15px 20px;
 background: white;
 font: black;
 border: 1px ;
 border-radius: 30px;
 opacity: 0.7;
 cursor: pointer;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    background-color: #bb8350;
    border-radius: 30px;

}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
.productdisplay-right-description{
    color: white;
}
#size{
    margin-top: 45px;
}