.test{
  height: 900px;
}
.background{
  background-size: cover; /* This makes the image cover the whole background */
  background-position: center; /* This centers the image */
  background-repeat: no-repeat;
  /* photo_6048732967469171382_y 1 */
background: linear-gradient(0deg, rgba(94, 113, 83, 0.72), rgba(94, 113, 83, 0.72)), url('C:\Users\Zayna\OneDrive\Desktop\Fuel\fuel_coffeeshop\src\assets\background.jpg');
background-attachment: fixed; /* This makes the background image fixed */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
